numpy==1.24.3
pandas==1.5.3
Pillow==10.2.0
plotly==5.9.0
Requests==2.31.0
streamlit==1.31.1
streamlit-extras==0.4.0
streamlit-lottie==0.0.5
lxml==5.3.2
beautifulsoup4==4.13.4
faker==18.3.0
setuptools==79.0.0
wheel==0.38.4
pymdown-extensions==10.14.3
htbuilder==1.0.2
entrypoints==0.4
st-annotated-text==1.0.0
favicon==0.7.0
